.social-links__list{
    display: flex;
    align-items: center;
transform: rotate(-90deg);
transform-origin: top left;
}

.social-links__list:before{
    content: "";
    margin-right: 40px;
    width: 60px;
    height: 1px;
    background-color: #303030;
}

.social-links__item:not(:last-child){
    margin-right: 40px;
}

.social-links__link{

font-family: var(--primary-font-family);
font-weight: 600;
font-size: 11px;
line-height: 1.36;
letter-spacing: 0.2em;

color: var(--light-theme-title-color);

transition: color 300ms var(--timing-function);
}

.social-links__link:hover,
.social-links__link:focus{
    color: var(--accent-color);
}

