.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.container--flex {
    display: flex;
    justify-content: space-between;
}


.container--left-side,
.container--right-side {
    flex-basis: calc((100% - 30px) / 2);
}

.container--right-side {
    padding-left: 34px;
}