.section{
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: #FFFFFF;
}

.section--dark-bcg{
    background-image: url('../../images/dark-theme-bcg-1.png');
    background-color: #111319;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section--light-bcg{
    background-color: var(--light-theme-bg-color);
}