:root{
    --primary-font-family: Open Sans, sans-serif;
    --secondary-font-family: Raleway, sans-serif;

    --light-theme-text-color: #555555;
    --dark-theme-text-color:#9DA4BD;

    --light-theme-title-color:#303030;
    --dark-theme-title-color: #FFFFFF;

    --primary-bg-color:#FFFFFF;
    --dark-theme-bg-color:#191C26;
    --light-theme-bg-color:#F7F7F7;
    
    --accent-color:#FF6C00;

    --timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}