.mobile-menu-button {
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    color: var(--dark-theme-title-color);
    border-style: none;
    cursor: pointer;
    line-height: 0;

    transition: color 300ms var(--animation-timing-function);
    

    &:hover,
    &:focus{
        color: var(--accent-color);
    }

    @media screen and (min-width:768px){
        display: none;
    }
}

.mobile-menu-button__icon{
    fill: currentColor;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index:9;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;

    background-color: rgba(25, 28, 38, 0.2);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-open{
        opacity: 1;
        pointer-events: auto;
    }

    @media screen and (min-width:768px){
        display: none;
    }
}

.mobile-menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 72vw;
    height: 100vh;
    padding-top: 118px;
    padding-left: 40px;
    padding-bottom: 48px;
    overflow-y: scroll;
    
    transform: translateX(100%);

    background-color: var(--primary-bg-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .backdrop.is-open &{
    transform: translateX(0);
    }

    & .button {
        margin-bottom: 64px;
    }

    @media screen and (min-width:480px){
        width: 348px;
    }
}

.mobile-menu-nav{
    margin-bottom: 64px;
}

.mobile-menu-nav__item:not(:last-child){
    margin-bottom: 24px;
}


.mobile-menu-nav__link, .mobile-menu-contacts{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    letter-spacing: 0.1em;
    
    color: var(--light-theme-title-color);
    transition: color 300ms var(--animation-timing-function);

    &:hover,
    &:focus{
        color: var(--accent-color);
    }

}

.mobile-menu-contacts{
    display: block;
    text-align: left;
    margin-bottom: 24px;
}


.mobile-menu-socials__item:first-child {
    display: flex;
    align-items: center;

    &:before {
        content: "";
        margin-right: 40px;
        width: 60px;
        height: 1px;
        background-color: var(--secondary-bg-color);
    }
}

.mobile-menu-socials__item:not(:first-child) {
    margin-left: 100px;
}

.mobile-menu-socials__item:not(:last-child) {
    margin-bottom: 24px;
}

.mobile-menu-socials__link {
    font-family: var(--primary-font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--light-theme-title-color);
    transition: color 300ms var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.mobile-menu-button--close{
    color: #303030;
}

.mobile-menu-button__icon--close{
    position: absolute;
    top:48px;
    right:30px;
    
    fill: currentColor;
}